<main id="landing">
    <div class="cta-container">
      <div class="clip">
        
      <h2>footie keeps score</h2>
      <%= link_to 'TRY IT OUT', 'users/7', class: "cta  login ui inverted fluid button" %>
      </div>
      </div>
    </div>   
    <div class="blurb-container">
      <p>Ask any youth sports coach worth their salt how they motivate their players to learn a new skill and they will tell you...</p>
      <p class="callout"><i class="quote left icon"></i> make it a competition <i class="quote right icon"></i></p>
      <p>Yea, but hat sounds like a lot of work - you have to come up with the challenges, find prizes they think are cool, worst of all, you actually have to keep track of the points because they aren't 8 years old anymore and they will know if you make the shit up.</p>
      <p class="tagline">footie keeps score, so you don't have to</p>  
    </div>

<!--   <article class="landing">
    <div class="ui secondary pointing menu">
      <a data-tab="first" class="item active">login</a>
      <a data-tab="second" class="item">sign up</a>
    </div>

    <article class="ui bottom attached active tab basic segment" data-tab="first">
      <%= form_tag '/login', class: 'ui large form' do -%>
      <div class="field">
        <div class="ui corner labeled input">
          <%= text_field_tag :username, nil, required: true, placeholder: 'username'  %>
          <div class="ui corner label">
            <i class="user icon"></i>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui corner labeled input">
          <%= password_field_tag :password, nil, placeholder: 'password' %>
          <div class="ui corner label">
            <i class="key icon"></i>
          </div>
        </div>
      </div>
      <%= submit_tag 'login', class: 'login ui fluid inverted button' %>
      <% end %>
    </article>

    <article class="ui bottom attached tab basic segment" data-tab="second">
      <%= render 'users/new' %>
    </article>

    <%= link_to 'looking for a demo?', 'users/7', class: "ui fluid inverted button" %>
  </article> -->
</main>