
<main class="ui center aligned grid container">
    <article class="column">
      <div class="ui basic segment"><div class="logo"></div></div>
      <div class="ui secondary pointing menu">
        <a data-tab="first" class="item active">login</a>
        <a data-tab="second" class="item">sign up</a>
      </div>

      <article class="ui bottom attached active tab basic segment" data-tab="first">
        <%= form_tag '/login', class: 'ui large form' do -%>
          <div class="field">
            <div class="ui corner labeled input">
              <%= text_field_tag :username, nil, required: true, placeholder: 'username'  %>
              <div class="ui corner label">
                <i class="user icon"></i>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui corner labeled input">
              <%= password_field_tag :password, nil, placeholder: 'password' %>
              <div class="ui corner label">
                <i class="key icon"></i>
              </div>
            </div>
          </div>
          <%= submit_tag 'login', class: 'login ui fluid inverted button' %>
        <% end %>
      </article>

      <article class="ui bottom attached tab basic segment" data-tab="second">
        <%= render 'users/new' %>
      </article>

      <%= link_to 'looking for a demo?', 'users/7', class: "ui fluid inverted button" %>
    </article>
</main>