<h1>coaches dashboard</h1>
<%= render partial: 'profile' %>
<%= render partial: 'users/coaches/scoreboard' %>
<%= render partial: 'scores/form' %>
<%= render partial: 'activities/index' %>

<%= link_to 'logout', logout_path, method: :delete %>
